{% extends 'flatpages/default.html' %}

{% load static %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}

<br>

  <div class="container wb">
        <h4>Список новостей:</h4>

          <br>
          <h6>Публикаций на странице: {{posts|length}}</h6>
          <br>

  <table class="table">
        <thead>
        <tr>
            <th scope="col"><h6 align="center"><b>Заголовок</b></h6></th>
            <th scope="col"><h6 align="center"><b>Категория</b></h6></th>
            <th scope="col"><h6 align="center"><b>Дата публикации</b></h6></th>
            <th scope="col"><h6 align="center"><b>Текст</b></h6></th>
            <th scope="col"><h6 align="center"><b>Тип</b></h6></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        {% for post_n in posts %}
        <tr>
            <td ><a href="../news/{{ post_n.pk }}">{{ post_n.title }}</a></td>
            <td>
                {% for category in post_n.category.all %}
                    <div class="col">
                        <h6 align="center">
                            <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                        </h6>
                    </div>
                {% endfor %}
            </td>
            <td>
                <div class="col">
                        <h6 align="center">
                            {{ post_n.add_date_time | date:'d M Y' }}
                        </h6>
                </div>
            </td>
            <td>{{ post_n.text | truncatechars:20|censor}}</td>


        {% if post_n.category_type == "NE" %}
            <td>
                <div class="col">
                    <h6 align="center">
                       Новость
                    </h6>
                </div>
            </td>

        {% elif post_n.category_type == "AR" %}
            <td>
                <div class="col">
                    <h6 align="center">
                       Статья
                    </h6>
                </div>
            </td>
        {% endif %}


        {% if post_n.category_type == "NE" %}
            <td> <a class="btn btn-primary btn-sm" href="../news/{{ post_n.pk }}/edit/">Редактировать</a></td>
        {% elif post_n.category_type == "AR" %}
            <td> <a class="btn btn-primary btn-sm" href="../articles/{{ post_n.pk }}/edit/">Редактировать</a></td>
        {% endif %}

        {% if post_n.category_type == "NE" %}
            <td><a class="btn btn-primary btn-sm" href="../news/{{ post_n.pk }}/delete/">Удалить</a></td>
        {% elif post_n.category_type == "AR" %}
            <td><a class="btn btn-primary btn-sm" href="../articles/{{ post_n.pk }}/delete/">Удалить</a></td>
        {% endif %}

        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{# Пагинация #}

<hr class="mt-4">
<div class="col center">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}">1</a></li>
                {% if page_obj.previous_page_number != 1 %}
                   <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                   <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
               {% endif %}
            {% endif %}

            <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
               {% if paginator.num_pages != page_obj.next_page_number %}
                   <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                   <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></li>
               {% endif %}
                {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
